* {
	box-sizing: border-box;
	font-family: 'Merriweather Sans', sans-serif;
}



h1 {
	background-color:#1C1C1C;
	text-transform: uppercase;
	color: white;
	padding: 30px 50px;
	width: 100%;
	margin-top: 0px;
	font-size: 1.3em;
	text-align: center;
}

.section {
	border-bottom: 4px solid;
	margin-bottom: 80px;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	
}


.section,
form {
	display: block;
	width: 320px;
	margin: 0 auto;
	
}




[for="name"],
[for="email"],
[for="phone"],
[for="street"],
[for="city"],
[for="state"],
[for="zipcode"],
   {
	
	display: block;
	margin-bottom: 10px;
	
}

.pers_info input,
.pers_info select {
	background: lightgrey;
	border-radius: 5px;
	border: none;
	margin-bottom: 15px;
	height: 50px;
	width: 100%;
	padding-left: 10px;
}

form {
	border-top: 2px solid;
	padding-top: 10px;
	margin-top: 5px;

}

fieldset {
	border: none;
}



.main {
	font-size: 1.1em;
	font-weight: bold;
	margin:10px 0;
	width: 100%;
}






input[placeholder="required"]:invalid {
	border: 4px red;

}


input:focus {

	background: rgb(160,240,140);
	background: rgba(160,240,140,0.5);
	border: 2px solid black;
}

	#zipcode {
		width: 60%;
		display: block;
	}

.newsletter_section {
	border-top: 2px solid; 
	margin-top: 30px;

}

.con_news {
	padding-bottom: 10px;
	margin-top: 20px;
	
}

.check_html,
.check_css,
.check_js, 
.radio_plain {

	padding-bottom: 10px;

}

.nl_format {
	padding: 10px 0;
}

.radio_html {
	padding-bottom: 2px;
}

textarea {
	border: none;
	border-radius: 5px;
	background-color: lightgrey;
}

button {
    background-color: #4EBBB5;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 1.5em;
    margin: 1em 0;
    width: 100%;

    }

    .copyright {
		text-align: center;
		font-style: italic;
		}

	.newsletter_section {
		background-color: #d6ebf2;
	}

@media (min-width: 786px) {

	form,
	.section {
		width: 700px;

	}


	.container {
		display:flex;
		align-items: center;

	}

	.item-1 {
		width:180px;
		height: 50px;
	} 

	
	#zipcode {
		width: 20%;
		margin-left: -38px;
	}
	
		
} 

	